@use "./base/variables" as *;
@use "./base/reset";
@use "./base/fonts";

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  min-height: 100vh;
  background: $pastel-pink;
}

#container {
  background-color: $pastel-yellow;
  max-width: 1400px;
  min-height: 100vh;
  margin: 0 auto;
}

/* header styles */

header {
  font-family: "Borsok";
  text-align: center;
  position: relative;
  p:first-child {
    font-size: 6rem;
    padding: 50px 20px 20px 20px;
    color: $fuchsia;
  }
  p:nth-of-type(2) {
    font-size: 3rem;
    color: $waabwaab-blauw;
    text-transform: uppercase;
    padding: 10px 20px 0 20px;
  }
  a {
    position: absolute;
    top: 18px;
    right: 18px;
    img {
      width: 35px;
      height: auto;
      display: block;
    }
  }
}

/* search field styles */

#container {
  > div {
    display: flex;
    justify-content: center;
    > input {
      outline: none;
      border: none;
      height: 55px;
      width: 300px;
      border-radius: 16px;
      margin-top: 50px;
      padding-left: 10px;
      color: $fuchsia;
      font-family: "Borsok";
      font-size: 1.6rem;
      line-height: 55px;
      letter-spacing: 0.5rem;
    }
  }
}

::placeholder {
  color: $waabwaab-blauw;
  font-family: "Borsok";
  font-size: 1.6rem;
  letter-spacing: 0.5rem;
  line-height: 55px;
}

/* list styles */

#list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  row-gap: 30px;
  column-gap: 30px;
  padding: 60px 30px;
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 60px;
      height: auto;
      display: block;
      margin: 15px;
    }
    p {
      text-align: center;
      width: 100%;
      font-family: "Baloo 2", cursive;
      font-size: 1.9rem;
      margin-top: 10px;
      color: $waabwaab-blauw;
      cursor: pointer;
    }
  }
}

/* responsive styles */

@media screen and (max-width: 800px) {
  #container {
    > div {
      > input {
        // display: none;
        height: 65px;
      }
    }
  }
}

@media screen and (max-width: 489px) {
  #list {
    padding: 60px 5px;
  }
  #list li img {
    width: 80px;
  }
  #list li p {
    font-size: 2.1rem;
  }
  header p:first-child {
    padding: 70px 20px 20px 20px;
  }
}
